{% extends 'layout.html' %}

{% set pageTitle = "Example" %}

{% block content %}

<div class="container ng-cloak" ng-controller="ExampleController as model">

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2 class="headline">Example Bedrock Website</h2>
    <hr/>
    <p>This is a minimal example website built on top of Bedrock.</p>
    <hr/>
    <p>Count: {% raw %}{{model.count}}{% endraw %}</p>
    <button ng-click="model.inc()">Increment</button>
  </div>
</div>

</div>

{% endblock %}
