
<div ng-controller="exPeopleController as model">
  <button type="button" class="btn btn-primary" ng-click="showMyModal=true">
    Add Person
  </button>
  <stackable-modal stackable="showMyModal">
    <ex-person-editor/>
  </stackable-modal>
  <div ng-show="model.people.length > 0">
    <h3>List of people</h3>
    <hr/>
    <ul ng-repeat="person in model.people">
      <li>
        {{person.name}}
        <ul ng-repeat="trait in person.traits">
          <li>
            {{trait}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
