<div ng-controller="FormController as model">
  <form class="col-md-12 well form-horizontal" role="form">
    <div class="btn-group col-md-offset-3">
      <button
        ng-repeat="(key, value) in model.peopleTemplates"
        ng-click="model.setPerson(value.person)"
        class="btn btn-primary">{{ value.label }}</button>
    </div>
    <hr/>
    <fieldset>
      <br-textarea br-model="model.person"
        br-options="{name: 'person', label: 'Person', rows: '8'}">
        Please describe a person.
      </br-textarea>
    </fieldset>
    <button ng-click="model.addPerson(model.person)"
      class="btn btn-success col-md-offset-3">Add Person</button>
  </form>
  <h3>Request Body</h3>
  <pre>{{ model.response.data.body | json }}</pre>
  <h3>JSON-LD Framed</h3>
  <pre>{{ model.response.data.framed | json }}</pre>
  <h3>Validated</h3>
  <pre>{{ model.response.data.valid | json }}</pre>
</div>
