<div ng-controller="exPeopleController as model">
  <div br-alerts br-fixed="true"></div>
  <form class="well form-horizontal" role="form"
    style="width: 400px; float: left;">
    <fieldset>
      <br-input br-model="model.name"
        br-options="{icon: 'tag', name: 'name', label: 'Name'}">
        Please enter your name.
      </br-input>
    </fieldset>
    <button ng-click="model.newPerson(model.name)" style="float:right">
      Add Person
    </button>
  </form>

  <div style="width: 400px; float: left; padding-left: 20px;">
    <h3>People</h3>
    <ul>
      <li ng-repeat="person in model.people">{{person.name}}</li>
    </ul>
  </div>
  <div style="clear:both;"></div>
</div>
