<br-modal br-title="Add a Person to the list">
  <br-modal-body>
    <md-content layout="column">
      <div>
        <md-input-container>
          <label>Enter a name:</label>
          <input ng-model="$ctrl.person.name" ex-focus="true" />
        </md-input-container>
      </div>
      <div>
        <label>
          Add a trait
          <md-button type="button" class="md-primary md-raised"
            ng-click="$ctrl.showTraitModal=true">
            Add
          </md-button>
        </label>
        <stackable-modal stackable="$ctrl.showTraitModal">
          <br-trait-adder br-person="$ctrl.person" />
        </stackable-modal>
      </div>
      <div>
        <md-list class="md-dense" flex>
          <md-subheader>{{$ctrl.person.name}} Traits</md-subheader>
          <md-list-item ng-repeat="trait in $ctrl.person.traits">
            {{trait}}
          </md-list-item>
        </md-list>
      </div>
    </md-content>
  </br-modal-body>
  <br-modal-footer>
    <md-button class="md-primary md-raised" ng-click="$ctrl.savePerson()">
      Save Person
    </md-button>
    <md-button type="button" class="stackable-cancel">Cancel</md-button>
  </br-modal-footer>
</br-modal>
