<br-modal br-title="Add a trait for {{$ctrl.person.name}}">
  <br-modal-body>
    <md-content layout-padding>
      <div>
        <md-input-container>
          <label>Trait</label>
          <input ng-model="$ctrl.trait" ex-focus="true" />
        </md-input-container>
      </div>
    </md-content>
  </br-modal-body>
  <br-modal-footer>
    <md-button class="md-primary md-raised" ng-click="$ctrl.addTrait()">
      Add Trait
    </md-button>
    <md-button type="button" class="stackable-cancel">Cancel</md-button>
  </br-modal-footer>
</br-modal>
