<div ng-controller="PeopleComponent as model">
  <button type="button" class="btn btn-primary" ng-click="showMyModal=true">
    Add Person
  </button>
  <stackable-modal stackable="showMyModal">
    <br-modal br-title="My Modal">
      <br-modal-body>
        <p>Hi Joel</p>
      </br-modal-body>
      <br-modal-footer>
        <button type="button" class="btn btn-primary">Ok</button>
        <button type="button"
          class="btn btn-default stackable-cancel">Close</button>
      </br-modal-footer>
    </br-modal>
  </stackable-modal>
</div>

<!--- div ng-controller="brPeopleComponent as model">
  <button type="button" class="btn btn-primary" ng-click="showMyModal=true">
    Add Person
  </button>
  <stackable-modal stackable="showMyModal">
    <br-person-editor-component></br-person-editor-component>
  </stackable-modal>
  <div ng-show="model.people.length > 0">
    <h3>List of people</h3>
    <hr/>
    <ul ng-repeat="person in model.people">
      <li>
        {{person.name}}
        <ul ng-repeat="trait in person.traits">
          <li>
            {{trait}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div --->
