<div ng-controller="PeopleComponent as model">
  <button type="button" class="btn btn-primary" ng-click="showMyModal=true">
    Add Person
  </button>
  <stackable-modal stackable="showMyModal">
    <br-modal br-title="My Modal">
      <br-modal-body>
        <p>Hi Joel</p>
      </br-modal-body>
      <br-modal-footer>
        <button type="button" class="btn btn-primary">Ok</button>
        <button type="button"
          class="btn btn-default stackable-cancel">Close</button>
      </br-modal-footer>
    </br-modal>
  </stackable-modal>
</div>
